
@{
    ViewBag.Title = "AddTenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .editor-label {
        color: black;
    }

    .editor-field {
        color: black;
    }

    .back1 {
        background: #fff !important;
        padding: 20px !important;
        padding-bottom: 150px !important;
        height: 971px;
    }
</style>

<div class="back">
    <h1 style="padding-top:0px">Test Property1-Add Tenants</h1>

    <div class="editor-label">
        @Html.Label("Property Manager Name")
    </div>
    <h6>Test Owner  </h6>
    <div class="editor-label">
        @Html.Label("Property Address")
    </div>
    <h6>123 Testing ST.</h6>
    <h6>Unit 101</h6>
    <h6>Teatingville,TN 37201</h6>
    <fieldset >
        <legend style=" width:96px; border-bottom-width:0px;margin-bottom:5px;">Basic Info</legend>

        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("First Name")
            </div>
            <div class="editor-field">
                @Html.Editor("First Name")
                <br />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("Last Name")
            </div>
            <div class="editor-field">
                @Html.Editor("Last Name")
                <br />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("Email")
            </div>
            <div class="editor-field">
                @Html.Editor("Email")
                <br />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("Conform Email")
            </div>
            <div class="editor-field">
                @Html.Editor("Conform Email")
                <br />
            </div>
        </div>
       </fieldset>
    <fieldset>
        <legend style=" width:114px; border-bottom-width:0px;margin-bottom:5px;">Contact Info</legend>
        <div class="">
            <div class="col-lg-6">
                <div class="editor-label">
                    @Html.Label("Billing Address")
                </div>
                <div class="editor-field">
                    @Html.CheckBox("Property Address",true)Same As Property Address
                    <br />
                </div>
                <div class="col-lg-6"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("Home Phone", new { @class="required"})
            </div>
            <div class="editor-field">
                @Html.Editor("Home Phone", new { @class="required"})
                <br />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("Work Phone")
            </div>
            <div class="editor-field">
                @Html.Editor("Work Phone")
                <br />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("Mobile Phone")
            </div>
            <div class="editor-field">
                @Html.Editor("Mobile Phone")
                <br />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend style=" width:126px; border-bottom-width:0px;margin-bottom:5px;">Payment Info</legend>

        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("Tenant Rent Amout", new { @class = "required" })
            </div>

            <div class="editor-field">
                @Html.Editor("Tenant Rent amount",new{AllowHtmlAttribute = new { @placeholder = "$0.00"} })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("Tenant Rent-Final Month Due", new { @class = "required" })
            </div>
            <div class="editor-field">
                @Html.Editor("Tenant Rent-Final Month Due", new { @class = "required" })
            </div>
            <p style="font-size:small">Final Rent Will be changed on the 15th of the month selected</p>

        </div>
        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("Deposit Amout")
            </div>

            @Html.Editor("Deposit Amout")
        </div>
        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("Deposit Due Date")
            </div>

            @Html.Editor("Deposit Due Date")
        </div><br/>
        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("Pet Deposit Due")
            </div>
            @Html.DropDownList("Pet Deposit Due", new List<SelectListItem> {
                new SelectListItem{Text="Yes", Value="1"},
                new SelectListItem{Text="No", Value="2"}
                })
           
        </div>
        <div class="col-lg-6">
            <div class="editor-label">
                @Html.Label("Pet Deposite Amount", new  {@class="required" })
            </div>

            @Html.Editor("Pet Deposite Amount", new { @class = "required" })
        </div>
    </fieldset>
   
    <div style="background-color:lightblue;padding-top:5px; padding-left:10px;padding-bottom:20px">
        <p>
           Please note that you will not be able to change the following fields once you've added this tenant.<br/>
           You will need to contact BGBC Management to change these values.
        </p>
        <div style="padding-left:15px">
            <li>Tenant Rent Amount</li>
            <li>Final Month Due</li>
            <li>Deposit Amount</li>
            <li>Pet Deposit Due</li>
            <li>Pet Deposit Amount</li>
        </div>
    </div>
    <br/>
        <input type="submit" value="Add Tenant" class="btn">
        @Html.ActionLink("Cancel", "Index", "Home")
    </div>


