
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="back">
    <h1 style="padding-top:0px;">Edit Product</h1>
    <div class="col-lg-12">
        <div class="editor-label" style="margin-top:10px;">
            @Html.Label("Product Name")
        </div>

        <div class=" editor-field" style="margin-bottom:5px;">
            @Html.Editor("Product Name")

        </div>


    </div>
    <div class="col-lg-12">

        <div class="editor-label">
            @Html.Label("Description")
        </div>
        <div class="editor-field" style="margin-bottom:5px;">
            @Html.TextArea("Description", new { @class = "whatever-class", @cols = 4, @rows = 8 })


        </div>
    </div>

    <div class="col-lg-12">

        <div class="editor-label">
            @Html.Label("Price")
        </div>
        <div class="editor-field" style="margin-bottom:5px;">
            @Html.Editor("Price")

        </div>
        @*@Html.HiddenFor(model=>model.Updatedon + DateTime.Now.ToString() )*@
    </div>

    <br />
    <div class="col-lg-12">
        <div class="editor-label" style="margin-bottom:5px;">
            @Html.Label("Availability Restrictions")
        </div>
    </div>

    <div class="col-lg-12">


        <input type="checkbox" value="" />Restrict Purchases to Houston Area Customers Only
    </div>


    @*}*@
    <div class="container">
        <div class="col-lg-6" style="margin-top:15px;">
                @*@Html.ActionLink("Create", "Create", "Products", new { @class = "btn" })*@
                <input type="submit" value="SaveChanges" class="btn" />
            
                @Html.ActionLink("Cancel", "ProductServices", "Home", new {@class="btn-primary btn" })
            
        </div>

    </div>

</div>
