@model PagedList.IPagedList<BGBC.Model.vProductOrder>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "AllProductsOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

</style>
<div class="back">
    <div class="col-md-12 no-padd">
        <div class="col-md-6 col-sm-6 no-padd">
            <h1>All Product Order</h1>
        </div>
        <div class="col-md-6 col-sm-6 no-padd header-btn">
            @Html.ActionLink("Back to Dashboard", "Index", "Admin", null, new { @class = "btn-button btn-primary pull-right" })
        </div>
    </div>
    <div class="clearfix">&nbsp; </div>
    @*Displays all products orders*@

    <div class="row form-margin">
        <div class="col-md-1 col-sm-1 col-xs-3 no-padd">
            @using (Html.BeginForm())
            {
                @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "10", 10 }, { "25", 25 }, { "50", 50 } }, "Key", "Value"), new { id = "pagesizelist", @class = "form-control" })
            }
            @section scripts {
                <script type="text/javascript">
                    $('#pagesizelist').on('change', function (event) {
                        var url = '@Html.Raw(Url.Action("AllProductsOrders", "Report", new { SortOrder = ViewBag.CurrentSort, page =1, pageSize = (ViewBag.currentPageSize == null ? "----" : (ViewBag.currentPageSize != null ? "ReplacedValue" : ViewBag.currentPageSize)) }))';

                        if (url.indexOf("pageSize=----") > -1)
                            url = url.replace("----", $('#pagesizelist').val());
                        else
                            url = url.replace("ReplacedValue", $('#pagesizelist').val());
                        window.location = url;
                    });
                </script>
            }
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 no-padd pull-right">
            @using (Html.BeginForm("AllProductsOrders", "Report", FormMethod.Get))
            {
                <div class="input-group">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search for..." })
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-icon" type="submit">

                            <img class="icon-img" src="~/Content/images/Icon-Search.png" />
                        </button>
                    </span>
                </div><!-- /input-group -->
            }
        </div>
    </div>

    <div class="clearfix"> </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="@(ViewBag.CurrentSort == "date_desc" || ViewBag.CurrentSort == "Date" ? (ViewBag.DateSortParm == "Date" ? "sorting_desc" : "sorting_asc") : "sorting")">
                        @Html.ActionLink("Date", "AllProductsOrders", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th class="@(ViewBag.CurrentSort == "TransID" || ViewBag.CurrentSort == "TransID_desc" ? (ViewBag.DateSortParm == "TransID" ? "sorting_desc" : "sorting_asc") : "sorting")">
                        @Html.ActionLink("Trans ID", "AllProductsOrders", new { sortOrder = ViewBag.TransIDSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th style="width:100px;" class="@(ViewBag.CurrentSort == "Customer" || ViewBag.CurrentSort == "Customer_desc" ? (ViewBag.DateSortParm == "Customer" ? "sorting_desc" : "sorting_asc") : "sorting")">
                        @Html.ActionLink("Customer", "AllProductsOrders", new { sortOrder = ViewBag.CustomerSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th style="width:100px;" class="@(ViewBag.CurrentSort == "Type" || ViewBag.CurrentSort == "Type_desc" ? (ViewBag.DateSortParm == "Type" ? "sorting_desc" : "sorting_asc") : "sorting")">
                        @Html.ActionLink("Type", "AllProductsOrders", new { sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Desc.
                    </th>
                    <th style="width:100px;" class="@(ViewBag.CurrentSort == "Price" || ViewBag.CurrentSort == "Price_desc" ? (ViewBag.DateSortParm == "Price" ? "sorting_desc" : "sorting_asc") : "sorting")">
                        @Html.ActionLink("Price", "AllProductsOrders", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Comments
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prop in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(p => prop.TransDate) </td>
                        <td>@Html.ActionLink(prop.TransId, "ProductInvoice", "Report", new { id = prop.OrderID }, new { }) </td>
                        <td style="width:100px;">@Html.DisplayFor(p => prop.CustomerFName) @Html.DisplayFor(p => prop.CustomerLName) </td>
                        @if (prop.UserType == 1)
                        {
                            <td style="width:100px;">Owner</td>
                        }
                        else if (prop.UserType == 2)
                        {
                            <td style="width:100px;">Tenant</td>
                        }
                        else if (prop.UserType == 3)
                        {
                            <td style="width:100px;">Customer</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@Html.DisplayFor(p => prop.Description)</td>
                        <td style="width:100px;">@Html.DisplayFor(p => prop.Price) </td>
                        <td>@Html.DisplayFor(p => prop.Comments) </td>
                    </tr>
                }
            </tbody>
        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("AllProductsOrders",
                                                                            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.currentPageSize }))


    </div>



</div>
