@model IEnumerable<BGBC.Web.Models.AllPropertiesAndTenant>
@{
    ViewBag.Title = "AllPropertiesAndTenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="back">
    <div class="col-md-12 no-padd">
        <div class="col-md-6 col-sm-6 no-padd">
            <h1>
                All Tenant Payments for All Properties
            </h1>
        </div>
        <div class="col-md-6 col-sm-6 no-padd header-btn">
            @Html.ActionLink("Back", "Index", "Owner", null, new { @class = "btn-button btn-primary pull-right" })
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    @foreach (var prop in Model)
    {
        <h1>@Html.DisplayFor(p => prop.Pname)</h1>
        
        if (prop.tenantRentPay.Count > 0)
          {
                    for (int i = 0; i < prop.tenantRentPay.Count; i++)
                    {
                        int value = prop.tenantRentPay[i].RentPayment.Count;
                       
                            <div class="col-md-12">
                   
                                    <p>@Html.DisplayFor(p => prop.tenantRentPay[i].tname)</p>
                   
                            </div>


                        if (value > 0)
                        {
                            <div class="clearfix">&nbsp;</div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Date / Time
                                                </th>
                                                <th>
                                                    Confirmation#
                                                </th>
                                                <th>
                                                    Description
                                                </th>
                                                <th>
                                                    Payment Amount
                                                </th>
                                                <th>
                                                    Comment
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            @for (int j = 0; j < value; j++)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(p => prop.tenantRentPay[i].RentPayment[j].TransDate)</td>
                                                    <td>@Html.DisplayFor(p => prop.tenantRentPay[i].RentPayment[j].TransID)</td>
                                                    <td>@Html.DisplayFor(p => prop.tenantRentPay[i].RentPayment[j].Description)</td>
                                                    <td>@Html.DisplayFor(p => prop.tenantRentPay[i].RentPayment[j].Amount)</td>
                                                    <td>@Html.DisplayFor(p => prop.tenantRentPay[i].RentPayment[j].Comments)</td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                          
                        }
                        else
                        {
                            <div class="Row">
                                <p>Tenant has not submitted any Payments yet. </p>
                            </div>
                        }
                    }
            }
        else
        {
            <p>Property has no Tenants.</p>
        }
        <hr />
    }
</div>