@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="back">
    <h1>My Dashboard</h1>
    <br />
    <div class="form-group">
        @Html.ActionLink("Complete My Profile / Edit Password", "Profile", "Owner", null, new { @class = "btn-button btn-primary" })
    </div>
    <div class="form-group">
        @Html.ActionLink("My Properties", "MyProperties", "Owner", null, new { @class = "btn-button btn-primary" })
    </div>
    <div class="form-group">
        <div class="col-md-2 col-sm-2 col-xs-2 no-padd">
            <input type="button" value="Reports" class="btn btn-button btn-primary" onclick="showReportOption()" />
        </div>
        <div class="col-md-4 col-sm-4  col-xs-12">
            <select id="dd_ownerreports" onchange="ownerreportsonchange(this);" class="form-control hidden dashboard-select" style="width:300px">
                <option value="" selected="selected">Select Report</option>
                <option value="payment_property">Payment History Per Property</option>
                <option value="payment_tenant">Payment History Per Tenant</option>
                <option value="payment_all_tenant_all_property" data-url="@Url.Action("AllPropertiesAndTenant", "Report")">Payment History For All Tenants For All Properties</option>
                <option value="payment_product" data-url="@Url.Action("OrderHistory", "Report")">Order History</option>
            </select>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            @Html.DropDownList("property", (IEnumerable<SelectListItem>)ViewBag.AllProperties, "Select", new { @class = "form-control dashboard-select hidden", @id = "dd_property", @style = "width:200px", @onchange = "productsonchange(this);" })
            @Html.DropDownList("tenants", (IEnumerable<SelectListItem>)ViewBag.AllTenants, "Select", new { @class = "form-control dashboard-select hidden", @id = "dd_tenants", @style = "width:200px", @onchange = "productsonchange(this);" })
        </div>
        <div class="clearfix"></div>
        </div>
  
         <div class="form-group">
             @Html.ActionLink("Contact us to upgrade your account","Contact","Home", null, new { @class = "btn-button btn-primary" })
    
    </div>
</div>

<script type="text/javascript">
    function showReportOption() {
        $('#dd_ownerreports').removeClass("hidden");
    }

    function ownerreportsonchange(e) {
        if ($(e).find('option:selected').val() != undefined && $(e).find('option:selected').val() != '') {
            $('#dd_property').addClass("hidden");
            $('#dd_tenants').addClass("hidden");
            if (e.value == "payment_property") {
                $('#dd_property').removeClass("hidden");
            }
            else if (e.value == "payment_tenant") {
                $('#dd_tenants').removeClass("hidden");
            }
            else {
                location.href = $(e).find('option:selected').data('url');
            }
        }
    }

    function productsonchange(e) {
        if ($(e).find('option:selected').val() != undefined) {
            location.href = $(e).find('option:selected').val();
        }
    }
</script>


