@model BGBC.Model.Product

@{
    ViewBag.Title = "ConfirmEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .row {
        padding-top: 10px;
    }
</style>

<div class="back">

    <h1>Edit a Product - Confirm</h1>

    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.Name)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.Description)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.Price)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Price)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayName("Restrict to Houston Area Customers Only?")

            </b>
        </div>
        <div class="col-md-9">
            
                @if (Model.isLocal.ToString() == "True")
                {
                    <span>Yes</span>
                }
                else
                {
                    <span>No (Available Nationally)</span>
                }
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("Edit", "Products"))
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Save Product" class="btn-button btn-primary" />
                    @Html.ActionLink("Edit", "Edit", "Products", new { id = Model.ProductID }, new { @class = "btn-button btn-primary" })
                    @Html.ActionLink("Cancel", "Manage", "Products")
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}