@model BGBC.Model.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="back">
        <h1>Login</h1>
        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        @if (TempData["SucessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SucessMessage"]</div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <br>
        <input type="submit" value="Log In">
        @Html.ActionLink("Forgot your password?", "ForgotPassword", "Home")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}