@model BGBC.Web.Models.Register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="back">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h1></h1>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
        </div> 
        <div class="row">
            <div class="form-group col-md-3 no-padd"> 
            @Html.LabelFor(p => p.UserType, htmlAttributes: new { @class = "control-label required" })
                    @Html.DropDownListFor(p => p.UserType, new List<SelectListItem> { new SelectListItem { Text = "Property owner", Value = "1" }, new SelectListItem { Text = "Customer", Value = "3" } }, "--Select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
        </div>
            </div> 
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        </div>
    <div class="row">
        <div class="form-group">
            @Html.CheckBoxFor(model => model.TermsAccepted)I accept the<a data-toggle="modal" href="#myModal"> terms & conditions</a>
            <br />
            @Html.ValidationMessageFor(model => model.TermsAccepted, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <br />
    <input type="submit" value="Submit">

    }
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"   aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    The Intellectual Property disclosure will inform users that your website, logo and visuals and other content you created is your property and protected by copyright laws.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnaccept">I accept</button>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            $('#UserType').change ( function (e) {
                if (this.options.selectedIndex == 1)
                    $('#UserType').attr('data-original-title', "Owner").attr('data-placement', "right").tooltip();
                else if (this.options.selectedIndex == 2)
                    $('#UserType').attr('data-original-title', "Customer").attr('data-placement', "right").tooltip();
                else
                    $('#UserType').tooltip('destroy');
            });
        })
    </script>
    <script type="text/javascript">
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus();
        })
    </script>
   <script type="text/javascript">
       $('#btnaccept').click(function () {
           $('#myModal').modal('toggle');
           $("#TermsAccepted").prop('checked', true);
       });
    </script>
}
