@model BGBC.Model.TenantReferral

@{
    ViewBag.Title = "TenantReferral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="back">
    <h1>Tenant Referral</h1>
    @if (TempData["SucessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SucessMessage"]</div>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control phoneno-mask" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LandlordName, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.LandlordName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LandlordName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LandlordPhone, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.LandlordPhone, new { htmlAttributes = new { @class = "form-control phoneno-mask" } })
            @Html.ValidationMessageFor(model => model.LandlordPhone, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LandlordEmail, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.LandlordEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LandlordEmail, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LandlordAddress, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.LandlordAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LandlordAddress, "", new { @class = "text-danger" })
        </div>

    <script type="text/javascript">
            var RecaptchaOptions = { "curl_timeout": 1 };
    </script>
    <script src='https://www.google.com/recaptcha/api.js?render=onload'></script>
    <div class="g-recaptcha" data-sitekey="6LccqxkTAAAAAAI36EiGvFkhOoPk0Y_U6hUmCZgd"></div>
    @Html.ValidationMessage("ReCaptcha", "",new { @class = "text-danger" })
    <noscript>
        <div style="width: 302px; height: 352px;">
            <div style="width: 302px; height: 352px; position: relative;">
                <div style="width: 302px; height: 352px; position: absolute;">
                    <iframe src="https://www.google.com/recaptcha/api/fallback?k=6LeElAETAAAAADOYRYxAue_AIlGMbM89oaJQnBGf"
                            frameborder="0" scrolling="no"
                            style="width: 302px; height:352px; border-style: none;"></iframe>
                </div>
                <div style="width: 250px; height: 80px; position: absolute; border-style: none;
                              bottom: 21px; left: 25px; margin: 0px; padding: 0px; right: 25px;">
                    <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                              class="g-recaptcha-response"
                              style="width: 250px; height: 80px; border: 1px solid #c1c1c1;
                                     margin: 0px; padding: 0px; resize: none;" value=""></textarea>
                </div>
            </div>
        </div>
    </noscript>
        <br />
    <div class="form-group">
        <input type="submit" value="Refer Tenant">
        </div>
        }

    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}