@model IEnumerable<BGBC.Model.Property>

@{
    ViewBag.Title = "OwnerProperties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="back">
    <div class="col-md-12 no-padd">
        <div class="col-md-6 no-padd">
            <h1>@ViewBag.Name Properties</h1>
        </div>
        <div class="col-md-6" style="padding-top:30px">
                    @Html.ActionLink("Back to All Property Owners", "ManageProperty", "Admin", null, new { @class = "btn-button btn-primary pull-right" })
                    @*@Html.ActionLink("Back to All Property Owners",null, new { @class = "btn-button btn-primary pull-right", @href = Request.UrlReferrer })*@
        </div>
    </div>
        
            <div class="col-md-12">
                @if (TempData["SucessMessage"] != null)
                {
                    <div class="alert alert-success">@TempData["SucessMessage"]</div>
                }
             
            </div>
    <div class="clearfix"></div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                       Address
                    </td>
                    <td>
                        Email
                    </td>
                    <td>
                       Amount
                    </td>
                    <td>
                       
                    </td>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)<br />@Html.DisplayFor(modelItem => item.Address2)<br />@Html.DisplayFor(modelItem => item.City) @Html.DisplayFor(modelItem => item.State) @Html.DisplayFor(modelItem => item.Zip)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Email)
                                </td>
                                <td>
                                    @if (item.Tenants.Count > 0)
                                        {@Html.DisplayFor(modelItem => item.Tenants.FirstOrDefault().RentAmount) }
                                </td>
                                <td>
                                    <div class="pull-right">
                                        @Html.ActionLink("View Property Tenants", "PropertyTenants", "Admin", new { id = item.PropertyID }, new { @class = "btn-button btn-primary" })
                                        @Html.ActionLink("View All Tenant Payments", "ViewAllTenantPayments", "Tenant", new { id = item.PropertyID }, new { @class = "btn-button btn-primary" })
                                        @Html.ActionLink("Edit Property", "AdminEdit", "Property", new { id = item.PropertyID }, new { @class = "btn-button btn-primary" })
                                    </div>
                                </td>
                            </tr>
                            }
            </tbody>
        </table>
    </div>
</div>

