@model BGBC.Web.Models.TenantInfo

@{
    ViewBag.Title = "ConfirmEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .row {
        padding-top: 10px;
    }
</style>

<div class="back">

    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.FirstName)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.LastName)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.Email)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.ConfirmEmail)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.ConfirmEmail)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.ProfileInfo.BillingAddress)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.ProfileInfo.BillingAddress)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.ProfileInfo.BillingAddress_2)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.ProfileInfo.BillingAddress_2)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.ProfileInfo.BillingCty)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.ProfileInfo.BillingCty)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.ProfileInfo.BillingState)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.ProfileInfo.BillingState)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.ProfileInfo.BillingZip)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.ProfileInfo.BillingZip)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.ProfileInfo.HomePhone)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.ProfileInfo.HomePhone)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.ProfileInfo.WorkPhone)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.ProfileInfo.WorkPhone)
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <b>
                @Html.DisplayNameFor(model => model.ProfileInfo.MobilePhone)
            </b>
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.ProfileInfo.MobilePhone)
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("Edit", "Tenant"))
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Save Tenant" class="btn-button btn-primary" /> 
                    @Html.ActionLink("Edit", "Edit", "Tenant", new { id=Model.TenantID}, new { @class = "btn-button btn-primary" })
                    @Html.ActionLink("Cancel", null, null, null, new { href = Request.UrlReferrer })
                </div>
            }
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}